<section id="hero" class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="display-1">{{ site.data.author.first_name }}: Code Wizard</h1>
        <p class=" text-body-secondary py-3 h4">
            Doing Full Stack Development<br> mostly with <span id="index_hero_code_names" class="mark">Ruby on Rails</span>...
        </p>

        <!-- text to know more in promary color text -->
        <p class="text-body-primary h6 pb-5">
            I try to maintain puctuality even if it means staying up all night and drinking a lot of coffee.
        </p>

        {% if site.data.author.social %}
        <p><u>Personally Inbox me in:</u></p>
        <ul class="list-inline">
            {% for social in site.data.author.social %}
            <li class="list-inline-item">
                <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                    <svg class="icon icon-index-hero px-1"
                        aria-hidden="true"
                        role="img" width="40" height="40" fill="transparent">
                        <use xlink:href="#{{ social.icon | default: 'people'}}"></use>
                    </svg>
                    <span class="sr-reader">{{ social.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a
            name="Resume link"
            id=""
            class="btn btn btn-primary text-white mt-3"
            href="{{ site.data.author.resume }}"
            role="button">
            Resume
        </a>
        
        </div>
    </div>
</section>