---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include SVG.html %}
    {%- include scripts.html %}
    <!-- <div id="loadingScreen">
        <section id="loading">
            <span id="loadingText"></span>
        </section>
    </div> -->
    {%- include header.html %}

    <main id="mainContent">
        {{content}}
    </main>

    <script>
        document.getElementById('mainContent').style.marginTop = `${document.querySelector(".navbar").offsetHeight}px`;
    </script>
</body>
</html>